@media only screen and (max-width: 720px) {
  html {
    font-size: 90%;
  }
}

h1 { 
  font-family: "Inter","BlinkMacSystemFont","Hiragino Kaku Gothic ProN","Hiragino Sans","Meiryo,sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
}

.bg-first {
  background-color: #e3e3ef;
}

.bg-second {
  background-color: #eafeff;
}

.rounded-custom {
  border-radius: 9px !important;
}

.rounded-top-custom {
  border-top-left-radius: 9px !important;
  border-top-right-radius: 9px !important;
}

.shadow-float {
    box-shadow: 5px 15px 30px -10px rgba(0,74,134,.1);
    -webkit-transition: .25s ease;
    transition: .25s ease;
}

.empty-color-box {
  height: 70px;
}


.i-style {
  font-size: 40px;
  color: black;
}

pre {
  padding: 10px;
}

#content {
 background-color: #fff;
 padding: 24px;
 color: #343434;
 line-height: 1.9;
}

#content h1{
  border-bottom: 1px #e3e3ef solid;
  font-size: 1.7rem;
  margin-top: 2.3rem;
  margin-bottom: 1.1rem;
  padding-bottom: 0.2rem;
}

#content h2{
  font-size: 1.5rem;
  margin-top: 2.3rem;
}

#content h3{
  font-size: 1.3rem;
  margin-top: 2.25rem;
  margin-bottom: 0.5rem;
}

#content li {
  margin: .4rem 0 ;
}