{{ define "main" }}
<div class="bg-first">
  <main role="main" class="container p-5">
    <article>
      <header>
        <h3 class="p-1 font-weight-bold">{{.Title}}</h3>
      </header>
      {{.Content}}
    </article>
    <div class="row">
      {{ range .Pages }}
      <div class="col-sm-4 col-6 mb-4">
        <a href="{{.Permalink}}" class="text-decoration-none">
          <div class="card rounded-custom shadow-float p-2 border-0">
            <p class="empty-color-box rounded-top-custom"></p>
            <div class="card-body">
              <h5 class="card-title text-dark">{{.Title}}</h5>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </main>
</div>

<script>
  var colorPatter = ["#091540", "#7692FF", "#ABD2FA", "#3D518C", "#1B2CC1"]
  var box = document.getElementsByClassName("empty-color-box")
  var colorIndex = 0
  for (i = 0; i < box.length; i++) {
    box[i].style.backgroundColor = colorPatter[colorIndex]
    if (colorIndex >= colorPatter.length - 1) {
      colorIndex = 0
    } else {
      colorIndex++
    }
  }
</script>
{{ end }}